version: '3'

services:
  bot:
    container_name: bot
    build: 
      context: .
      dockerfile: Dockerfile-Loop
    ports:
      - "3000:3000"
    links:
      - mongo
  # cosmos:
  #   container_name: cosmos
  #   image: microsoft/azure-cosmosdb-emulator
  #   ports:
  #     - "8081:8081"
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db:rw
    ports:
      - "27017:27017"

#volumes:
#   mongodata:
#   db:
#     image: mysql:5.7
#     restart: always
#     environment:
#       MYSQL_DATABASE: 'BotStorage'
#       # So you don't have to use root, but you can if you like
#       MYSQL_USER: 'user'
#       # You can use whatever password you like
#       MYSQL_PASSWORD: 'password'
#       # Password for root access
#       MYSQL_ROOT_PASSWORD: 'password'
#     ports:
#       # <Port exposed> : < MySQL Port running inside container>
#       - '3306:3306'
#     expose:
#       # Opens port 3306 on the container
#       - '3306'
#       # Where our data will be persisted
#     volumes:
#       - sqldb:/var/lib/mysql

# volumes: 
#   sqldb:
