version: '3'

services:
  bot:
    container_name: bot
    build: 
      context: .
      dockerfile: Dockerfile-Loop
    ports:
      - "3000:3000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db:rw
    ports:
      - "27017:27017"